# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#wsl
*.Identifier

# config & keys
config.json

#db
*.db

# remove notes for full release
notes/
.claude

#other
ratatorskr_original.py